<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>286856199192-eojr2ff6pkfnnd8unhe9hjrcflmrdko8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286856199192-eojr2ff6pkfnnd8unhe9hjrcflmrdko8</string>
	<key>API_KEY</key>
	<string>AIzaSyB4G8CZxhrsDonoRtSJnyKg0McN324UdW8</string>
	<key>GCM_SENDER_ID</key>
	<string>286856199192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnthach95.LLSIFTomodachi</string>
	<key>PROJECT_ID</key>
	<string>llsif-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>llsif-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286856199192:ios:500fd004241bb961</string>
	<key>DATABASE_URL</key>
	<string>https://llsif-notification.firebaseio.com</string>
</dict>
</plist>